<div class="div">
  <mat-nav-list>

    <h2 matSubheader class="mt-2">User</h2>
    <a mat-list-item routerLink="/userlist" routerLinkActive="list-item-active">
      <span class="span">List</span>
    </a>
    <a mat-list-item routerLink="/registeruser" routerLinkActive="list-item-active">
      <span class="span">Register</span>
    </a>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Incident</h2>
    <a mat-list-item routerLink="/newincident" routerLinkActive="list-item-active">
      <span class="span">New Incident</span></a>
    <a mat-list-item routerLink="/viewincident" routerLinkActive="list-item-active">
      <span class="span">All Incident</span></a>
    <a mat-list-item routerLink="/viewincident" routerLinkActive="list-item-active">
      <span class="span">Open</span></a>
    <a mat-list-item routerLink="/viewincident" routerLinkActive="list-item-active">
      <span class="span">Assigned to me</span></a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
      <span class="span">Dashboard</span></a>
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerlink="/contacts">

      <span class="span">Contacts</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerlink="/contacts">

      <span class="span"> Leads</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerlink="/contacts">

      <span class="span"> Leads</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerlink="/contacts">

      <span class="span"> Leads</span>
    </a>
  </mat-nav-list>
</div>
