/* You can add global styles to this file, and also import other style files */
@import "node_modules/ngx-toastr/toastr.css";

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';



html,
body {
  height: 100%;
  margin: 0;
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif !important;
}

.mdc-button {
  margin: 5px !important;
}

.mat-mdc-form-field {
  width: 70%;
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif !important;
}

.content {
  display: block !important;
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif !important;
}

a {
  color: white !important;
  padding: 1%;
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif !important;
}
